﻿@model WebCuoiKy.Models.Comment
@using (Html.BeginForm("Create", "Comment", new { idpost=ViewData["idpost"]}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>*@
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.DateCreate)*@
        @*</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreate)
            @Html.ValidationMessageFor(model => model.DateCreate)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.PostID, "post")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PostID", String.Empty)
            @Html.ValidationMessageFor(model => model.PostID)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

