﻿@model WebCuoiKy.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinkWeb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinkWeb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DCShop)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DCShop)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LuotLike)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LuotLike)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.chuyenmuc.tenChuyenMuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chuyenmuc.tenChuyenMuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.thanhpho.tenThanhPho)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.thanhpho.tenThanhPho)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
