﻿@model WebCuoiKy.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinkWeb)
    </div>
    <div class="display-field">
        <a href ="@Html.DisplayFor(model => model.LinkWeb)">@Html.DisplayFor(model => model.LinkWeb)</a>
        @*@Html.ActionLink(Model.LinkWeb.ToString(),"")*@
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DCShop)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DCShop)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LuotLike)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LuotLike)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.chuyenmuc.tenChuyenMuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chuyenmuc.tenChuyenMuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.thanhpho.tenThanhPho)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.thanhpho.tenThanhPho)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
@Html.Partial("addComment",new WebCuoiKy.Models.Comment(),ViewData)  

<fieldset>
    <legend>Comment</legend>
    <div id="result">
            @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreate).Take(10))
            {
                      <div class="display-field">
                           @Html.DisplayFor(x=>comment.Body)
                      </div>
                      <div class="display-field">
                           <h3>Cach day @Html.DisplayFor(x=>comment.lastTime)</h3>
                      </div>
            }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
