﻿@model IEnumerable<WebCuoiKy.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LinkWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DCShop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotLike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chuyenmuc.tenChuyenMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thanhpho.tenThanhPho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LinkWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DCShop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotLike)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chuyenmuc.tenChuyenMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhpho.tenThanhPho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
