﻿@model Blog5_t6.Models.Comment

<div class="display-field">
    @Html.DisplayFor(x => Model.Body)
</div>
<div class="display-field">
    <h2>cách đây @Html.DisplayFor(x => Model.lastTime)phút</h2>
</div>


